<div ng-show="activeReservations.length > 0" class="contentHeader">
  <h1><b>Active</b> reservations</h1>
</div>
<div ng-show="activeReservations.length === 0" class="contentHeader">
  <h1>You have no <b>active</b> reservations</h1>
</div>
<div class="contentTableContainer" ng-show="activeReservations.length > 0">
  <div class="box-shadow">
    <table st-table="reservationCollection" st-safe-src="customer.reservations" class="table table-striped">
      <thead>
        <tr class="contentTableHead">
          <th st-sort="reservationDate">Date of reservation</th>
          <th st-sort="arrivalDate"><i class="fa fa-plane" style="font-size:40px;"></i> Arrival date</th>
          <th st-sort="destination">Destination</th>
          <th>Details</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr class="contentTableBody" ng-repeat="reservation in reservationCollection">
          <td>{{reservation.reservationDate}}</td>
          <td>{{reservation.flight.arrivalDate}}</td>
          <td>{{reservation.flight.to.city}}</td>
          <td >
            <button type="button" ng-click="showDetails(reservation)" class="btn btn-sm btn-success">
              {{flight.price}}<i class="glyphicon glyphicon-info-sign"></i>
            </button>
          </td>
          <td >
            <button type="button" ng-click="showDetails(reservation)" class="btn btn-sm btn-danger">
              {{flight.price}}<i class="glyphicon glyphicon-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-show="finalizedReservations.length > 0" class="contentHeader">
  <h1><b>Finalized</b> reservations</h1>
</div>
<div ng-show="finalizedReservations.length === 0" class="contentHeader">
  <h1>You have no <b>finalized</b> reservations</h1>
</div>
<div class="contentTableContainer" ng-show="customer.reservations.length > 0">
  <div class="box-shadow">
    <table st-table="reservationCollection" st-safe-src="customer.reservations" class="table table-striped">
      <thead>
        <tr class="contentTableHead">
          <th st-sort="reservationDate">Date of reservation</th>
          <th st-sort="arrivalDate"><i class="fa fa-plane" style="font-size:40px;"></i> Arrival date</th>
          <th st-sort="destination">Destination</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr class="contentTableBody" ng-repeat="reservation in reservationCollection">
          <td>{{reservation.reservationDate}}</td>
          <td>{{reservation.flight.arrivalDate}}</td>
          <td>{{reservation.flight.to.city}}</td>
          <td>
            <button type="button" ng-click="showDetails(reservation)" class="btn btn-sm btn-success">
              {{flight.price}}<i class="glyphicon glyphicon-info-sign"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
HELLO customer
{{customer}}
