<div class="flightSearchContainer">
  <form id="flight_form" role="form" ng-submit="searchFlight()">
    <div class="form_search_part">
      <div class="flightType">
        <ul>
          <li>
            <input type="radio" id="return-option" name="selector">
            <label for="return-option">Return</label>
          </li>
          <li>
            <input type="radio" id="one-way-option" name="selector">
            <label for="one-way-option">One way</label>
          </li>
        </ul>
      </div>
      <div class="flightRoute">
        <div class="form-inline">
          <div class="form-group">
            <label for="from">From</label>
            <input type="text" class="form-control" id="from" name="from" ng-model="fligtCredentials.from"/>
          </div>
          <div class="form-group flightSwapContainer">
            <label for="flightSwap"></label>
            <div class="flightSwap">
              <a href="" ng-click="swapFlightLocations()">
                <i class="fa fa-exchange"></i>
              </a>
            </div>
          </div>
          <div class="form-group">
            <label for="to">To</label>
            <input type="text" class="form-control" id="to" name="to" ng-model="fligtCredentials.to"/>
          </div>
        </div>
      </div>
      <div class="flightTime">
        <div class="form-inline">
          <div class="form-group">
            <label for="departure">Depart</label>
            <input type="text" class="form-control" id="departure" name="departure" ng-model="fligtCredentials.departure"/>
          </div>
          <div class="form-group">
            <label for="return">Return</label>
            <input type="text" class="form-control" id="return" name="return" ng-model="fligtCredentials.return"/>
          </div>
          <div class="form-group flightClass">
            <label for="class">Cabin Class & Travellers</label>
            <input type="text" class="form-control" id="class" name="class" ng-model="fligtCredentials.class"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form_button_part" >
      <button type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
    </div>
    <div style="clear:both;"></div>
  </form>
  <div class="alert alert-danger" ng-show="error">
    There was a problem searching flight. Please try again.
  </div>
</div>
