<div class="contentHeader">
  <p translate="{{ 'FLIGHT_SEARCH_TITLE' }}"</p>
  </div>
  <div class="flightSearchContainer">
    <div class="box-shadow">
      <form id="flight_form" role="form" ng-submit="searchFlight()">
        <div class="form_search_part">
          <div class="flightType">
            <ul>
              <li>
                <input type="radio" id="one-way-option" name="selector" ng-click="disableReturnDate()" checked>
                <label for="one-way-option"><p translate="ONE_WAY_FLIGHT"></p></label>
              </li>
              <li>
                <input type="radio" id="return-option" name="selector" ng-click="returnFlight=true">
                <label for="return-option"><p translate="RETURN_FLIGHT"></p></label>
              </li>
            </ul>
          </div>
          <div class="flightRoute">
            <div class="form-inline">
              <div class="form-group">
                <label for="from"><p translate="FROM"></p></label>
                <ui-select ng-model="selectedFlight.from">
                  <ui-select-match>
                    <span ng-bind="$select.selected.city"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="airport in airports | filter:$select.search" refresh="getAirportsByCityName($select.search)" refresh-delay="250">
                    <span ng-bind="airport.city"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group flightSwapContainer">
                <label for="flightSwap"></label>
                <div class="flightSwap">
                  <a href="" ng-click="swapFlightLocations()">
                    <i class="fa fa-exchange"></i>
                  </a>
                </div>
              </div>
              <div class="form-group">
                <label for="to"><p translate="TO"></p></label>
                <ui-select ng-model="selectedFlight.to">
                  <ui-select-match>
                    <span ng-bind="$select.selected.city"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="airport in airports | filter:$select.search" refresh="getAirportsByCityName($select.search)" refresh-delay="250">
                    <span ng-bind="airport.city"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="flightTime">
            <div class="form-inline">
              <div class="form-group">
                <label for="departure"><p translate="DEPART"></p></label>
                <input type="text" style="cursor:pointer;"
                class="form-control"
                uib-datepicker-popup
                ng-model="selectedFlight.departure"
                is-open="departCalendarPopup.opened"
                datepicker-options="dateOptions"
                ng-required="true"
                close-text="Close"
                ng-click="openDepartCalendar()"/>
              </input>
            </div>
            <div class="form-group">
              <label for="return"><p translate="RETURN"></p></label>
              <input type="text" style="cursor:pointer;"
              class="form-control"
              uib-datepicker-popup
              ng-model="selectedFlight.return"
              is-open="returnCalendarPopup.opened"
              datepicker-options="dateOptions"
              ng-required="true"
              close-text="Close"
              ng-disabled="!returnFlight"
              ng-model="selectedFlight.return"
              ng-click="openReturnCalendar()"/>
            </div>
            <div class="form-group flightClassContainer">
              <label for="class"><p translate="FLIGHT_CLASS_AND_TRAVELLERES"></p></label>
              <div class="flightClassOptionWrapper">
                <a ng-click="showClassOption()" href="" class="form-control" id="class" name="class" style="overflow:hidden">
                  <p translate="FLIGHT_CLASS_AND_TRAVELLERES_VALUE"
                  translate-values="{passengers : selectedFlight.passengers, flightClass: selectedFlight.flightClass}"></p>
                  <span class="glyphicon glyphicon-menu-down pull-right"></span>
                </a>
                <div class="flightClassOption" ng-show="isClassEnabled">
                  <div class="arrow-up"></div>
                  <div class="flightClassOptions">
                    <label for="class">Cabin Class</label>
                    <ui-select id="class" ng-model="selectedFlight.flightClass" >
                      <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="class in flightClasses | filter:$select.search">
                        <span ng-bind="class"></span>
                      </ui-select-choices>
                    </ui-select>
                    <div class="travellers">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="addOne()" ng-disabled="selectedFlight.passengers > 7">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default">{{selectedFlight.passengers}}</button>
                        <button type="button" class="btn btn-default" ng-click="subtractOne()" ng-disabled="selectedFlight.passengers < 2">
                          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form_button_part" >
        <button type="submit"
        form="flight_form"
        class="btn btn-info btn-square"
        ng-click="searchFlight(selectedFlight); isClassEnabled=false"
        translate="SEARCH"></button>
      </div>
      <div style="clear:both;"></div>
    </form>
    <div class="alert alert-danger" ng-show="error">
      <p translate="FLIGHT_SEARCH_ERROR"></p>
    </div>
  </div>
</div>
