<div class="flightDetails">
  <div class="flightDetailsContainer">
    <form class="flightDetailsForm">
      <div class="flightDesription box-shadow">
        <ng-heading icon="fa fa-plane" from="{{from.city}}" to="{{to.city}}" arrow="&rarr;"></ng-heading>
        <div class="flightDescriptionContent">
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 pull-left space-right left-side">
            <div class="bolderDark">{{departureHour}}:{{departureMinutes}}</div>
            <div class="mediumBolderDark">{{departureDayMonthYear}}</div>
            <div class="smallBolderDark">{{from.city}}</div>
          </div>
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 center-side">
            <br>
            <div class="bolderDark"><span class="glyphicon glyphicon-time"></span> {{duration}}</div>
            <div class="smallBolderDark">Flight nr {{flight.flightNumber}}</div>
          </div>
          <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 pull-right space-left right-side">
            <div class="bolderDark">{{arrivalHour}}:{{arrivalMinutes}}</div>
            <div class="mediumBolderDark">{{arrivalDayMonthYear}}</div>
            <div class="smallBolderDark">{{to.city}}</div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="flightPassengers box-shadow">
        <ng-heading icon="fa fa-male" description="Passengers"></ng-heading>
        <div class="flightPassengersContent" ng-repeat="passenger in getPassengers()">
          <ng-double-input-box
          heading-number="{{$index + 1}}" heading=". Passenger"
          left-input-heading="First name" right-input-heading="Last name"
          model-left=passenger.firstName model-right=passenger.lastName></ng-double-input-box>
        </div>
      </div>
      <div class="flightContact  box-shadow">
        <ng-heading icon="fa fa-info" description="Contact Information"></ng-heading>
        <div class="flightContactContent">
          <ng-double-input-box left-input-heading="Email address" right-input-heading="Phone number"
          model-left=reservation.contact.email model-right=reservation.contact.phone></ng-double-input-box>
        </div>
      </div>
      <div class="flightLuggage box-shadow">
        <ng-heading icon="fa fa-suitcase" description="Luggage"></ng-heading>
        <div class="flightLuggageContent">
          <ng-double-check-box  left-input-heading="Free luggage" right-input-heading="Registered luggage"
          right-description="First passenger may take one registered lugagge with dimentions 149x119x171 cm (23kg)."
          left-description="Each passenger may take one carry-on lugagge with dimentions 42x32x25 cm (15kg)."
          left-label=0.0 label-comment=" zl" right-label=50.00 model=flightLuggage></ng-double-check-box>
        </div>
      </div>
      <div class="flightPayment box-shadow">
        <ng-heading icon="fa fa-credit-card" description="Payment"></ng-heading>
        <div class="flightPaymentContent">
          <ng-triple-check-box  left-input-heading="{{payments[0].name}}" center-input-heading="{{payments[1].name}}" right-input-heading="{{payments[2].name}}"
          left-description="{{payments[0].description}}" center-description="{{payments[1].description}}" right-description="{{payments[2].description}}"
          left-label=payments[0].price center-label=payments[1].price right-label=payments[2].price label-comment=" zl" model=flightPayment></ng-triple-check-box>
        </div>
      </div>
      <div>
      </div>
      <div class="flight-details-submit box-shadow">
        <div>
          <button type="button" ng-click="makeReservation(reservation)" class="btn btn-lg btn-default flight-details-button">
            Make reservation. {{reservation.price}} zl <i class="glyphicon glyphicon-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="flightDetailsSummary box-shadow">
      <div class="flightDetailsBox">
        <div class="summaryHeading">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Summary
        </div>
      </div>
      <div class="flightDetailsBox">
        <h4>Tickets</h4>
        {{passengersAmmount}} x passengers :
        {{passengersAmmount * flight.price}} zl
      </div>
      <div class="flightDetailsBox" ng-if="flightLuggage + flightPayment > 0">
        <h4>Additional charge</h4>
        <div ng-if="flightPayment > 0">
          Payment charge : {{flightPayment}}
        </div>
        <div ng-if="flightLuggage > 0">
          Luggage charge : {{flightLuggage}}
        </div>
      </div>
      <div class="flightDetailsBox">
        <h4>Sum</h4>
        {{reservation.price}}
      </div>
    </div>
  </div>
</div>
