* {
  margin:0;
  padding:0;
  border:0;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-height: 100%;
  background: url(/src/img/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  border: 0;
  background-color: #372f45;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover{
  color: #AEDEE7;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #AEDEE7;
}

.wrapper {
  min-height: 100%;
}

.navbar-header {
  margin-top: 10px;
  float: left;
}

.navbar-brand {
  font-size: 25px;
}

#content {
  padding-top: 2%;
  padding-bottom: 180px;
}

.login_container{
  border-radius: 5px;
  color: white;
  width: 20%;
  margin: 0 auto;
  background-color: #372f45;
}

.login_wrapper {
  padding: 5%;
}

.flightSearchContainer {
  border-radius: 5px;
  margin: 0 auto;
  width: 35%;
  /*background: rgba(95,99,131, .6);*/
  background-color: #372f45;
}

.flightSearchContainer label, a {
  color: #AEDEE7;
}

#flight_form {
  display: inline-block;
  padding: 15px;
}

#flight_form .form-inline {
  padding: 0px !important;
  width: 100% !important;
}

.form-inline .form-control {
  width: 100% !important;
}

.flightType ul {
  padding: 0px !important;
  margin: 0 auto !important;
}

.flightType li {
  margin : 0 auto !important;
  display: inline;
  padding-right: 20px;
}

.form-group i {
  font-size:20px;
}

.flightRoute .form-group {
  padding: 0px;
  width: 46.5%;
}

.flightRoute  .form-group.flightSwapContainer {
  text-align: center;
  width: 5%;
}

.flightTime {
  padding-top: 10px;
}

.flightTime .form-group {
  padding: 0px;
  width: 23%;
}

.flightTime .form-group.flightClassContainer {
  position: relative;
  padding: 0px;
  width: 46.5%;
  margin-left: 5.5%;
}
.form_search_part {
  float: left;
  width: 85%;
}

.form_button_part {
  float: left;
  width: 15%;
  text-align: center;
}

.form_button_part .btn-circle {
  margin-top: 70%;
  outline: none;
  text-align: center;
  border-radius: 50%;
  font-size: 33px;
}

.flightClassWrapper {
  position: relative;
}

.flightClassOption {
  position: absolute;
  width: 100%;
}

.flightClassOptions {
  z-index: 100;
  width: 100%;
  position: absolute;
  background-color: white;
  text-align: center;
  display: block;
  padding: 10px;
}

.flightClassOptions #class {
  margin: 0 auto;
  padding: 5px 0px 15px 0px;
}

.arrow-up {
  margin: 0 auto;
  margin-top: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.flightClassOptions .form-inline .form-control {
  margin: 0 auto !important;
  padding: 30px;
}

.flightClassOptions .ui-select-bootstrap {
  width: 80%;
}

.travellers {
  text-align: center;
  padding-bottom: 5px;
}

.searchedFlightsBody td {
  vertical-align: middle !important;
  font-size: 15px;
  color: #372f45;
  white-space: nowrap;
}

.searchedFlightsBody td.price {
  vertical-align: middle !important;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.searchedFlightsBody td.price button {
  width: 90%;
}

.searchedFlightsHead th {
  margin-left: 5%;
  cursor: pointer;
}

.flightChoose {
  background: white;
  margin:0 auto;
  width: 60%;
  border-radius: 5px;
}

.flightChoose th {
  color: white;
  background-color: #372f45;
}
.flightChoose th :hover{
  color: #AEDEE7;
}

.flightBoxContainer {
  width: 60%;
  margin: 0 auto;
}

.flightDetailsForm {
  padding-right: 5%;
  width: 75%;
  float: left;
}

.heading {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #372f45;
  color: white;
}

.headingIcon {
  width:6%;
  margin: 0 auto;
  text-align: center;
  float: left;
}

.heading-content {
  padding-left: 3%;
  font-size: 25px;
  float: left;
  width:90%;
}

.heading-content span {
  margin: 0 auto;
  padding: 0;
}

.heading-from {
  padding-right: 2%;
}

.heading-to {
  padding-left: 2%;
}

.headingIcon i {
  font-size:40px;
}

.flightDesription {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5%;
}

.flightPassengers {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5%;
}

.flightContact {
  border-radius: 5px;
  margin-bottom: 5%;
}

.flightLuggage {
  border-radius: 5px;
  margin-bottom: 5%;
}

.flightPayment {
  border-radius: 5px;
  margin-bottom: 5%;
}

.flightDescriptionContent {
  width: 100%;
  text-align: center;
}

.flightDescriptionContent > *{
  padding: 1%;
}

.flightDescriptionContent .left-side {
  text-align: right;
}

.flightDescriptionContent .right-side {
  text-align: left;
}

.bolderDark {
  font-size: 22px;
  font-weight: bold;
}

.mediumBolderDark {
  font-size: 18px;
  font-weight: bold;
  color:#484154;
}

.smallBolderDark {
  font-size: 15px;
  font-weight: bold;
  color: #5F5A68;
}

.inputContainer {
  border-top: 0.5px solid #D0D0D0;
  background-color: white;
  padding: 2%;
  padding-left: 10%;
}

.checkBoxContainer :hover{
  background-color: #AEDEE7;
}

.containerTitle {
  font-size: 22px;
  font-weight: bold;
}

.leftInputContainer {
  width: 45%;
  padding-right: 5%;
}

.tripleInputContainer {
  width: 30%;
  padding-right: 5%;
}

.rightInputContainer {
  width: 45%;
}

.checkbox-label {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.big {
  display:block;
  width:100%;
  height:100%;
  cursor:pointer;
}

.box-shadow {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 2px #000000;
  -moz-box-shadow: 0px 0px 8px 2px #000000;
  box-shadow: 0px 0px 8px 2px #000000;
}

.submit-button-container {
  margin: 0 auto;
  margin-bottom: 5%;
  width: 40%;
}

.flight-details-button {
  font-size:25px;
  color:white;
  background-color: #372f45;
  white-space: normal;
}

.flightDetailsBox {
  border-bottom: 0.5px solid #D0D0D0;
}

.summaryHeading {
  padding-bottom: 1%;
  margin: 0 auto;
  text-align: center;
  font-size: 23px;
}

.flightDetailsSummary {
  width: inherit;
  position: fixed;
  bottom: auto;
  background-color: white;
  padding-left: 1%;
}

.flightDetailsSummaryContainer {
  float: left;
  width: 15%;
}

.flightPaymentContent {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  color: #372f45;
}

.niceSpanFont {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
  color: #f82f75;
  display: inline-block;
  padding: 2px;
}
