html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background: url(/src/img/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  border-radius: 0px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
