* {
  margin:0;
  padding:0;
  border:0;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background: url(/src/img/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  border: 0;
  background-color: #372f45;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover{
  color: #AEDEE7;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #AEDEE7;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.navbar-header {
  margin-top: 10px;
  float: left;
}

.navbar-brand {
  font-size: 25px;
}

#login_form {
  display:none;
  margin-bottom: 10px;
}

#login_container
{
  width: 10%;
  left: 45%;
  position:absolute;
  top:100px;
}

.flightSearchContainer {
  border-radius: 5px;
  margin: 0 auto;
  width: 35%;
  margin-top: 100px;
  background: rgba(95,99,131, .6);
  color: #AEDEE7;
}

#flight_form {
  display: inline-block;
  padding: 10px;
}

#flight_form .form-inline {
  padding: 0px !important;
  width: 100%;
}

.flightType ul {
  padding: 0px !important;
  margin: 0 auto !important;
}

.flightType li {
  margin : 0 auto !important;
  display: inline;
  padding-right: 20px;
}

.form-group i {
  font-size:20px;
  color: #AEDEE7;
}

.flightRoute .form-group {
  padding: 0px;
  width: 46.5%;
}

.flightRoute  .form-group.flightSwapContainer {
  text-align: center;
  width: 5%;
}

.flightTime {
  padding-top: 10px;
}

.flightTime .form-group {
  padding: 0px;
  width: 23%;
}

.flightTime .form-group.flightClass {
  padding: 0px;
  width: 46.5%;
  margin-left: 5.5%;
}
.form_search_part {
  float: left;
  width: 85%;
}

.form_button_part {
  float: left;
  width: 15%;
  text-align: center;
}

.form_button_part .btn-circle {
  margin-top: 70%;
  outline: none;
  text-align: center;
  border-radius: 50%;
  font-size: 33px;
}
